:root {
  --brand-color: #2196f3;
  --black-color: #212121;
  --grey-color: #757575;
  --white-color: #ffffff;
  --icon-color: #afb1b8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--black-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  font-style: normal;
  text-decoration: none;
  color: var(--black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--brand-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.logo__span--color--black {
  color: var(--black-color);
}

.logo__span--color--white {
  color: var(--white-color);
}

.work__title,
.team__title,
.client__title {
  margin: 0 auto 50px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .work__title,
  .team__title,
  .client__title {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .work__title,
  .team__title,
  .client__title {
    font-size: 36px;
  }
}

.header {
  border-bottom: 1px solid #eeeeee;
  padding: 25px 0;
}

.header__nav {
  margin: 0;
  margin-left: 93px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
  padding: 0;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.nav__link--current {
  display: block;
  position: relative;
  color: var(--brand-color);
}

.nav__link--current::after {
  display: inline-block;
  position: absolute;
  bottom: -32px;
  left: 0;
  content: "";
  width: 100%;
  background: #2196f3;
  border: 2px solid;
  border-radius: 2px;
}

.contacts__list {
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--grey-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon.mail-icon {
  height: 12px;
  width: 16px;
}

.contacts__icon.tell-icon {
  height: 16px;
  width: 10px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--brand-color);
}

.hero {
  background-color: #c4c4c4;
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.hero__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (min-width: 480px) {
  .hero__container {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin: 0 auto 30px auto;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__order-button {
  margin: 0 auto;
}

.order-button {
  display: block;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--brand-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.button-close__icon {
  position: relative;
  height: 100%;
  width: 100%;
  fill: var(--black-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .button-close__icon,
.button-close:focus .button-close__icon {
  fill: var(--brand-color);
}

.send-button {
  padding: 10px 56px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--brand-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filters__button {
  padding: 5px 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subscribe-button {
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--brand-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.subscribe-button__icon {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms, visibility 250ms;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

.modal__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.modal__icon {
  position: absolute;
  bottom: 9px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__send-button {
  margin-top: 30px;
}

.modal__input {
  margin-top: 4px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input:focus {
  border: 1px solid var(--brand-color);
  outline: none;
}

.modal__input:hover ~ .modal__icon,
.modal__input:focus ~ .modal__icon {
  fill: var(--brand-color);
}

.modal__textarea {
  margin-top: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea:hover, .modal__textarea:focus {
  border: 1px solid var(--brand-color);
  outline: none;
}

.modal__textarea::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-agree {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.modal-agree__label {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.modal-agree__conditions {
  color: var(--brand-color);
}

.modal-agree__icon {
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
}

.modal-agree__checkbox {
  appearance: none;
  position: absolute;
}

.modal-agree__checkbox:focus + .modal-agree__icon {
  border-color: var(--brand-color);
}

.modal-agree__checkbox:checked + .modal-agree__icon {
  border-color: transparent;
  background-color: var(--brand-color);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

@media screen and (min-width: 768px) {
  .quality__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .quality__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.quality__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .quality__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .quality__item {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .quality__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .quality__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.quality__title {
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .quality__title {
    text-align: start;
  }
}

.quality__desc {
  margin: 0;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03;
  color: var(--grey-color);
}

.quality__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
}

.work {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__image {
  display: block;
}

.work__label {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.team__item {
  margin-bottom: 30px;
  width: 290px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .team__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.team__image {
  width: 100%;
}

.team__desc {
  padding: 30px 0 24px 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__desc {
    padding-bottom: 30px;
  }
}

.team__name {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.team__position {
  margin: 10px 0 16px 0;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.socialmedia__list {
  display: flex;
  justify-content: center;
}

.socialmedia__item:not(:last-child) {
  margin-right: 10px;
}

.socialmedia__icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.socialmedia__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia__link:hover, .socialmedia__link:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
  border-radius: 50%;
}

.socialmedia__link--color--grey {
  color: var(--icon-color);
}

.socialmedia__link--color--white {
  color: var(--white-color);
}

.socialmedia__link--backcolor--grey {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 480px) {
  .client__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.client__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 479px) {
  .client__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .client__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 32px;
  border: 1px solid;
  border-radius: 4px;
  color: var(--icon-color);
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.filters__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 40px;
}

@media screen and (min-width: 768px) {
  .filters__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .filters__list {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .filters__item {
    margin-bottom: 0;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.portfolio__item {
  width: 290px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .portfolio__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (max-width: 1199px) {
  .portfolio__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio__article {
  height: 100%;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__image {
  display: block;
  width: 100%;
}

.portfolio__box {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.portfolio__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.portfolio__desc {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__desc, .portfolio__link:focus .portfolio__desc {
  transform: translateY(0);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.address__item {
  color: rgba(255, 255, 255, 0.6);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__item:nth-child(1) {
  color: var(--white-color);
}

.address__link {
  font-size: 14px;
  line-height: 1.714;
  color: inherit;
}

.join {
  margin-left: 70px;
}

.join__title {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe {
  margin-left: 93px;
}

.subscribe__title {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe__input {
  padding: 15px 16px;
  height: 50px;
  width: 358px;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
}

.subscribe__botton {
  margin-left: 12px;
}
/*# sourceMappingURL=main.css.map */