.client {
  &__list {
    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;

      margin-top: -30px;
      margin-left: -30px;
    }
  }

  &__item {
    margin-top: 30px;

    @media screen and (min-width: 480px) {
      flex-basis: calc((100% - 60px) / 2);

      margin-left: 30px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 180px) / 6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 30px;

    border: 1px solid;
    border-radius: 4px;

    color: var(--icon-color);
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
