.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(".../images/hero.jpg");

  @media screen and (min-width: 480px) {
    // background-image: linear-gradient(
    //     to right,
    //     rgba(47, 48, 58, 0.4),
    //     rgba(47, 48, 58, 0.4)
    //   ),
    //   url("../images/hero.jpg");
  }

  @media screen and (min-width: 768px) {
    // background-image: linear-gradient(
    //     to right,
    //     rgba(47, 48, 58, 0.4),
    //     rgba(47, 48, 58, 0.4)
    //   ),
    //   url("../images/hero.jpg");
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    margin: 0 auto;
  }

  &__container {
    padding-top: 100px;
    padding-bottom: 100px;

    @media screen and (min-width: 480px) {
      padding-top: 118px;
      padding-bottom: 118px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }

  &__title {
    margin: 0 auto 30px auto;

    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    color: var(--white-color);

    @media screen and (min-width: 480px) {
      font-size: 26px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
    }
  }

  &__order-button {
    margin: 0 auto;
  }
}
