.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
